name: vienna_metro
description: A modern Vienna Metro navigation app
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  provider: ^6.1.1
  flutter_svg: ^2.0.9
  http: ^1.1.0
  geolocator: ^10.1.0
  permission_handler: ^11.0.1
  flutter_map: ^6.1.0
  latlong2: ^0.9.0
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/images/

  fonts:
    - family: Roboto
      fonts:
        - asset: packages/flutter/fonts/Roboto-Regular.ttf
        - asset: packages/flutter/fonts/Roboto-Bold.ttf
          weight: 700
